@import '../../common/scss/common.scss';

.container {
  border-bottom: 1px solid #eee;
}

.form-item-phone-number {
  font-size: 32rpx;
  color: #eee;
  margin: 0 64rpx 0 0;
  height: 100%;
  align-items: center;
  flex: 1;
}

.name {
  font-size: 32rpx;
  color: #bbb;
}

.input {
  color: #ddd;
  font-size: 32rpx;
}
