/* components/toptab/index.wxss */
.container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  border-bottom: 1rpx solid #eee;
  overflow: hidden;
  .statusBar{
    width: 100vw;
    background: white;
  }
  .navigateBar {
    width: 100vw;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background: white;
    .options {
      position: fixed;
      width: 100vw;
      height: 45px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      .item-box {
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .image {
          width: 21px;
          height: 21px;
        }
      }
    }
    .title-box {
      position: fixed;
      left: 200rpx;
      opacity: 0;
      width: 350rpx;
      height: 45px;
      font-size: 17px;
      font-weight: 600;
      line-height: 45px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .avatar {
        margin: 8px;
        width: 24px;
        height: 24px;
        min-width: 24px;
        border-radius: 50%;
      }
      .title {
        height: 45px;
        line-height: 45px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
      }
    }
    .showInmediately {
      opacity: 1;
    }
    .hideInmediately {
      opacity: 0;
    }
    .showTransition {
      opacity: 1;
      transition: opacity 2s;
    }
    .hideTransition {
      opacity: 0;
      transition: opacity 2s;
    }
  }
}
