@import '../../common/scss/common.scss';

.container {
  width: 686rpx;
  height: 200rpx;
  line-height: 200rpx;
  border-radius: 10rpx;
  font-size: 32rpx;
  text-align: center;
  color: #fff;
  background: #6377E6;
}
