@import '../../common/scss/common.scss';

.container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 21;
  width: 100vw;
  height: 100vh;
  align-items: center;
  pointer-events: none;
  background: #fff;
  .loading-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .loading {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    .brand {
      margin-top: 24px;
      width: 380rpx;
      height: 56rpx;
    }
    .title {
      font-size: 40px;
      font-weight: 500;
      color: #444;
      height: 120px;
      line-height: 120px;
    }
  }
}

.hide {
  opacity: 0;
  transition: opacity 0.5s;
}
