/* ThemeList/index/index.wxss */
.container {
  width: 100vw;
  height: 140rpx;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 24rpx 0;
  background-color: #fff;
  border-bottom: 1rpx solid #eee;
}

.image-box{
  align-self: center;
  overflow: hidden;
  width: 140rpx;
  min-width: 140rpx;
  height: 140rpx;
  background-color: #fff;
  font-size: 36rpx;
  margin: 0 0 0 32rpx;
}

.image {
  width: 140rpx;
  height: 140rpx;
  background-color: #f23030;
}

.text-box {
  width: 140rpx;
  height: 140rpx;
  position: relative;
  bottom: 150rpx;
  z-index: 2;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 20rpx;
  color: #fff;
}

.more {
  margin: 0 32rpx;
}



