.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.content-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.theme-list {
  position: fixed;
  left: 0;
  z-index: 1;
  overflow: auto;
}

.article-list {
  position: fixed;
  left: 200rpx;
  z-index: 1;
  overflow: auto;
}
