/* components/ArticleCardE/index.wxss */
.container {
  background-color: white;
  margin: 24rpx 32rpx 24rpx;
  padding: 40rpx 32rpx 32rpx;
  width: 622rpx;
  box-shadow: 0 4rpx 26rpx rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  .image-box {
    align-self: center;
    width: 622rpx;
    height: 320rpx;
    overflow: hidden;
    .image {
      position: relative;
      top: -5rpx;
      left: -5rpx;
      z-index: 1;
      width: 632rpx;
      height: 330rpx;
    }
    .mask {
      position: relative;
      bottom: 325rpx;
      left: 0;
      width: 100%;
      height: 320rpx;
      background: linear-gradient(transparent, rgba(0,0,0,0.4));
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      color: white;
      opacity: 1;
    }
    .mask-hide {
      opacity: 0;
      transition: all 1s;
    }
  }
  .title {
    color: #444;
    font-size: 36rpx;
    font-weight: 600;
    line-height: 50rpx;
    padding: 24rpx 0 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-align: left;
  }
  .publisher {
    color: #999;
    padding: 18rpx 0 0;
    font-size: 26rpx;
    line-height:30rpx;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  .user {
    padding: 14rpx 0 28rpx;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    .avatar-container {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      .avatar-box {
        height: 82rpx;
        width: 82rpx;
        min-width: 82rpx;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        .avatar {
          position: relative;
          top: 0;
          left: 0;
          height: 80rpx;
          width: 80rpx;
          min-width: 80rpx;
          border-radius: 50%;
          background-color: #eee;
        }
        .brand {
          position: relative;
          left: -28rpx;
          top: 50rpx;
          width: 28rpx;
          min-width: 28rpx;
          height: 28rpx;
          border-radius: 50%;
          border: 2rpx solid white;
          background: #eee;
        }
      }
      .profile {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 16rpx;
        .title-box {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: flex-start;
          color: #999;
          height: 42rpx;
          line-height: 42rpx;
          flex-wrap: nowrap;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          overflow: hidden;
          text-align: left;
          .name {
            color: #444;
            font-weight: 600;
            font-size: 28rpx;
          }
          .desc {
            margin-left: 16rpx;
            font-size: 24rpx;
          }
        }
        .comment {
          text-align: left;
          color: #444;
          font-size: 28rpx;
          padding-top: 6rpx;
          line-height: 40rpx;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
        }
      }
    }
  }
}

@import '../../../assets/common/button.scss';
