
.user {
  padding: 14rpx 0 28rpx;
  width: 100%;
}

.avatar-box {
  height: 82rpx;
  width: 82rpx;
  min-width: 82rpx;
  min-height: 82rpx;
  .avatar {
    position: relative;
    top: 0;
    left: 0;
    height: 80rpx;
    width: 80rpx;
    min-width: 80rpx;
    min-height: 80rpx;
    border-radius: 50%;
    background-color: #eee;
  }
  .brand {
    position: relative;
    left: 52rpx;
    bottom: 28rpx;
    width: 28rpx;
    height: 28rpx;
    min-width: 28rpx;
    min-height: 28rpx;
    border-radius: 50%;
    border: 2rpx solid white;
    background: #eee;
  }
}

.profile {
  flex: 1;
  padding-left: 16rpx;
}

.title-box {
  color: #999;
  height: 42rpx;
  line-height: 42rpx;
  flex-wrap: nowrap;
  text-align: left;
  .name {
    color: #444;
    font-weight: 500;
    font-size: 28rpx;
  }
  .desc {
    margin-left: 16rpx;
    font-size: 24rpx;
  }
}

.comment {
  text-align: left;
  color: #444;
  font-size: 28rpx;
  padding-top: 6rpx;
  line-height: 40rpx;
}
