@import '../../common/scss/common.scss';

.container {
  margin: 62rpx 32rpx 96rpx;
  width: 622rpx;
  height: 96rpx;
  border-radius: 8rpx;
  line-height: 96rpx;
  font-size: 34rpx;
  font-weight: 500;
  text-align: center;
  color: #fff;
  background: #0f5aa5;
}
